/* Ändrar textfonten i hela html filen */
html{
    font-family: 'Josefin Sans', sans-serif;
}
/* Skapar ett grid som utgår från template-area */
body{
    margin: 0;
    font-size: 3.5vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr min-content;
    grid-template-areas:
    'header header'
    'monster-showcase monster-showcase'
    'monster-showcase monster-showcase'
    'add-monster add-monster'
    'add-monster add-monster'
    'add-monster add-monster'
    'monster-type monster-type'
    'monster-type monster-type'
    'monster-color monster-color'
    'monster-color monster-color'
    'footer footer';
   

}
/*  */
header{
    display: grid;
    grid-area: header;
    border: 2px solid black;
    height: 60px;
    padding: 4vh; /* 6px 20px 6px 20px */
    margin: 2px;
    background-color: #404258;
    color: white;
}
footer{
    display: grid;
    grid-area: footer;
    border: 2px solid black;
    margin: auto;
    height: 60px;
    padding: 0px 20px 0 20px;    margin: 2px;
    background-color: #404258;
    color: white;
}
.add-header{
    
    text-align: center;
    grid-column: 1 / 3;

}
.add-monster-form {
  
    grid-area: form;
    padding: 13px 20px 0 20px;
    grid-gap: 10px;
    width: 69vh;
    margin: auto;
    padding-bottom: 2vh;
    height: 65.5vh;

}
/* Visar inga monster-detaljer på mobila enheter */
.monsterInfo {
    display: none;
    margin: 0px;
}

.monster-showcase{
    display: grid;
    grid-area: monster-showcase;
    grid-template-columns: repeat(2,1fr);
    border: 3px solid black;
    
    min-height: 50vh;
    margin: 0.5vh;
    background-color: #474E68;
    color: white;
    row-gap: 10%;
    overflow-y: scroll;

    padding-top: 3vh;
    padding-right: 7vh;
    padding-left: 7vh;
    padding-bottom: 3vh;
    
}

.add-monster {
  /* I add-monster sektionen kör vi med FLEX och flex-direction: column */
    display: flex;
    flex-direction: column;
    grid-area: add-monster;
    align-items: center;
    border: 3px solid black;
      /* vh används i höjdled och vw i sidled för att skala med mindre enheter */
    padding: 1vh 2vw 1vh 2vw;
    
    background-color: #50577A;
    color: white;   
    
}

.edit-monsters {
    /* I add-monster sektionen kör vi med FLEX och flex-direction: column */
      display: none;
      flex-direction: column;
      grid-area: add-monster;
      align-items: center;
      border: 3px solid black;
        /* vh används i höjdled och vw i sidled för att skala med mindre enheter */
      padding: 1vh 2vw 1vh 2vw;
      
      background-color: #50577A;
      color: white;   
      display: none;
      
  }


.monster-type {
    display: grid;
    grid-area: monster-type;
    border: 3px solid black;
    padding: 0px 20px 0 20px;
    margin: 2px;
    background-color: #50577A;
    color: white;
}
.monster-color {
    display: grid;
    grid-area: monster-color;
    border: 3px solid black;
    padding: 0px 20px 0 20px;
    margin: 2px;
    background-color: #50577A;
    color: white;

}
#header-text {
    margin: auto;
    cursor: pointer;

}

/* Edit monsters, monster-features DIV container*/
.monster-features {

    padding-left: 0.5vw;  
    padding-right: 0.5vw;     
    padding-top: 1vh;
    padding-bottom: 1vh;      
    margin: 0px;  
    margin-left: 1.4vw;

}

.mfeatures-subdiv {

    min-width: min-content;

}

/* Edit monsters, monster-features checkboxes*/
.mfeatures-checkboxes {
    
    margin-right: 3vh;
    margin-left: 1vw;

}

.mlabel {

    font-size: 20px;
}

.mlabel:hover {
    text-decoration:line-through;
    cursor:pointer; /* Mouse grab vid hovring */
    background-color: #ffffff46;
}
.mlabel:active {
    position:relative;
    top:1px;
}

 /* En massa view-width vw inlagt för att skala med mindre enheter */
 /* I höjdled kör vi view-height (vh) istället */
input[type=text] {
    min-width: 28vw;
    height: 4vh;
    font-size: 20px;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    margin-top: 1vh;
    margin-bottom: 6vh;

    border-radius: 8px;

    padding-left: 0.5vw;  
    padding-right: 0.5vw;     
    padding-top: 1vh;
    padding-bottom: 1vh;      

  }


  .input-label {
    margin-left: 1.4vw;
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 4vh;
  }

 /* En massa view-width vw inlagt för att skala med mindre enheter */
  /* I höjdled kör vi view-height (vh) istället */
  select {
    min-width: 29vw;
    height: 6vh;
    font-size: 20px;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    margin-top: 0vh;   
    margin-bottom: 6vh;
    border-radius: 8px; 

    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;      
  }



.sub-btn {
   
    /* I mobil-läge täcker knappen hela griddet, från vänster till höger */
    grid-column: 1 / 4;
   
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    min-width: 29vw;
    height: 8vh;

    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    border-radius: 10px;
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid #666eff;
        display: inline-block;
        cursor: pointer;
        color:#333;
        font-family: Arial;
        font-size: 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;

}
.sub-btn:hover {
    background-color:#474E68;
    color: #ffffff;
}
.sub-btn:active {
    position:relative;
    top:1px;
}
#footer-text{
    margin: auto;
}


.monsterColorLi:hover,.monsterTypeLi:hover{
    cursor: pointer;
    background-color: #ffffff46;
    }

/* I mobil-läge har vi ett grid med 3 grid kolumner i formen */
.add-monster-form {
      
    padding: 0;
    margin: 0;
    grid-gap: 1px;
    display: grid;
    grid-template-columns: 1fr 0.2vw 1fr;


}


/* -----Media attribut för dator------ */
@media only screen and (min-width: 900px) {
    body {

    grid-template-columns: repeat(3,1fr);
        
    display: grid;
    grid-template-areas:
    'header header header'
    'monster-showcase monster-showcase add-monster'
    'monster-showcase monster-showcase add-monster'
    'monster-type monster-color add-monster'
    'monster-type monster-color add-monster'
    'footer footer footer';

    

    }



    /* Visa monster-detaljer på desktop */
    .monsterInfo {
        display: block;
        margin: 0px;
    }

    /* I desktop läge har vi bara 1 grid kolumn */
    .add-monster-form {
      
        padding: 0;
        margin: 0;
        grid-gap: 0px;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    /* Add monster knappen ska bara täcka 1 kolumn i Desktop-mode */
    .sub-btn {   
        grid-column: 1 / 2;
    }

}


